/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


section.log-in {
    margin: 30px auto;
    display:flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 700px) {
    section.log-in {
        margin: 60px auto;
        justify-content: center;
    }
 }

	section.log-in .field {
	    margin: 18px 0px;
	    line-height: 18px;
	}
	section.log-in h2{
    	margin-left: 0px;
	}
	section.log-in input{
    	background: white;
    	padding: 6px;
	}

section.log-in .second-choice {
    text-decoration: underline;
    line-height: 40px;
}
section.log-in .actions input {
    padding: 15px;
    background: lightgray;
    border:none;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .06em;
    font-size: 14px;
    width: 140px;
    font-family: "roboto";

}

.alert-box {
    position: absolute;
    top: 42px;
    right: calc(50% - 175px);
    text-align: center;
    max-width: 350px;
    border-radius: 5px;
}
p.alert {
    color: #943C35;
}
p.notice {
    color: #40D640;
}
